.chat {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 90vh;
  background-color: #17232b;
  .containerText {
    padding: 20px;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 25px;
    &::-webkit-scrollbar {
      width: 7.5px;
    }
    &::-webkit-scrollbar-track-piece {
      background: none;
    }
    &::-webkit-scrollbar-track {
      background: none;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #2a3942;
    }
    .textLeft {
      align-self: flex-start;
      max-width: 400px;
      border-radius: 5px;
      padding: 10px;
      margin: 5px 0;
      background-color: #202c33;
      p {
        word-wrap: break-word;
        font-size: 1.125rem;
        line-height: 1.125rem * 1.5;
      }
    }
    .textRight {
      align-self: flex-end;
      max-width: 400px;
      border-radius: 5px;
      padding: 10px;
      margin: 5px 0;
      background-color: #005c4b;
      p {
        word-wrap: break-word;
        font-size: 1.125rem;
        line-height: 1.125rem * 1.5;
      }
    }
  }
  .input {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202c33;
    width: 100%;
    padding: 15px 0;
    i {
      font-size: 1.25rem;
      transition: 0.3s;
      color: #8696a0;
      &:hover {
        cursor: pointer;
      }
    }
    input {
      margin: 0 20px;
      border: none;
      background-color: #2a3942;
      padding: 10px;
      height: 40px;
      width: 700px;
      border-radius: 5px;
      transition: 0.3s;
      @media only screen and (max-width: 1100px) {
        width: 300px;
      }
      color: #e9edef;
      &::-webkit-input-placeholder {
        color: #e9edef6e;
      }
      &:-moz-placeholder {
        color: #e9edef6e;
      }
      &::-moz-placeholder {
        color: #e9edef6e;
      }
      &:-ms-input-placeholder {
        color: #e9edef6e;
      }
    }
    button {
      border: none;
      background-color: transparent;
    }
  }
}

.boxNameHour{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5px;
}

.mensageOnly{
  margin-right: 20px;
}
