.users {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  background-color: #111b21;
  border-right: 1px solid rgba(134, 150, 160, 0.15);
  ul {
    width: 100%;
    li {
      background-color: #111b21;
      box-shadow: rgb(0 0 0 / 10%) 2px 2px 4px 0px;
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: start;
      h1{
        cursor: pointer;
      }
      & + li {
        border-top: 1px solid rgba(134, 150, 160, 0.15);
      }
      padding: 20px 0;
      img {
        border-radius: 50%;
      }
      h1 {
        font-size: 1.1rem;
        font-weight: 600;
        align-self: center;
        margin-left: 20px;
        &::after {
          content: '';
          margin-left: 10px;
          margin-bottom: 1.5px;
          color: greenyellow;
          width: 7px;
          height: 7px;
          display: inline-block;
          background-color: greenyellow;
          border-radius: 5px;
        }
      }
    }
  }
}

@media (max-width: 815px){
  .users{
    display: none
  }
}
