.topBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 10vh;
  box-shadow: 0 2px 4px rgba(30, 60, 90, 0.1);
  border-bottom: 1px solid #eee;
  .userInfo {
    background-color: #eee;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    @media only screen and (max-width: 1400px) {
      flex: 2;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(30, 60, 90, 0.1);
    }
    img {
      border-radius: 50%;
    }
    h1 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-left: 10px;
    }
    h2 {
      font-size: 1.2rem;
    }
  }
  .nseioqbotar {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex: 3;
    h1 {
      font-size: 1.2rem;
      font-weight: 600;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }

  #btn-mobile {
    display: none;
  }
  @media only screen and (max-width: 1100px) {
    header {
      justify-content: space-between;
      background: black;
    }
    header h2 {
      margin: 0 50px;
    }
    header ul {
      display: block;
      position: absolute;
      top: 45px;
      right: 0px;
      background: black;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    header.active ul {
      height: 160px;
      visibility: visible;
      overflow-y: auto;
      padding-right: 30px;
    }
    header ul a {
      margin-left: 30px;
      padding-top: 2.5px;
      padding-bottom: 2.5px;
    }
    header li + li {
      padding-left: 0;
    }
    header li {
      padding: 5px 0;
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
      margin-right: 25px;
    }
    #hamburger {
      display: block;
      width: 20px;
      border-top: 2px solid black;
      color: black;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: black;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    header.active #hamburger {
      border-top-color: transparent;
    }
    header.active #hamburger::before {
      transform: rotate(135deg);
    }
    header.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
}
