.contentGeral{
    background-color: #061855;
    width: 80vw;
    min-height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentMessages{
    margin-top: 25px;
    width: 75vw;
    min-height: 5vh;
    max-height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}

.contentMessagesUnicUserSelf{
    margin: 10px 0;
    min-height: 5vh;
    width: 75vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contentMessagesUnicOutUser{
    margin: 10px 0;
    min-height: 5vh;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.messageOutUser{
    background-color: #18318d;
    min-height: 5vh;
    max-width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.messageWithUser{
    background-color: #142a79;
    min-height: 5vh;
    max-width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

.contentInput{
    height: 8vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentInput input[type='text']{
    width: 40vw;
    height: 4vh;
    outline: none;
    border: none;
    border-radius: 10px;
}

.contentInput input[type='submit']{
    margin-left: 30px;
    height: 3vh;
    width: 4vw;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}